*{
    font: 18pt sans-serif;
    color: white;
}
html {
  scroll-behavior: smooth;
  background-color: #636363;
}
header{
    font-size: 32pt;
    margin: 0;
    padding: 15pt 7.5vw;
    display: flex;

}
header p{
    font-size: 42pt;

    margin: 0;
    flex: 1 0 auto;
    margin-right: 100pt;
}
header a{
    text-align: center;
    margin: auto;
    flex: 1 0 auto;
    font-size: 25pt;

    padding: 5px;
    padding-left: 120px;
}
header a:last-child{
    /*background-color: #ccc;*/
    /*color: #292929;*/
    /*border-color: #292929;*/
    /*margin-right: 15pt;*/

    /*border: solid #292929 2pt;*/
    /*background-color: #ccc;*/
    /*color: #292929;*/

    cursor: pointer;
    text-align: center;
    text-decoration: none;

    font-style: normal;

}
header a:last-child:hover{
    /*color: #ccc;*/
    /*background-color: #292929;*/
}
.description{
    margin: 20pt 7.5vw;
    transition: max-height 0.4s;
    height: auto;
}
.description.hide{
    max-height: 0;
    overflow: hidden;
    margin: 5pt 7.5vw;
}
.details{

}
.navbar{
    margin: 0 7.5vw;
}
.navbar li a{
    font-size: 32pt !important;
    text-decoration: none;
}
.navbar li a::selection{
    color: black;
}
.navbar li.active{
    border-color: #292929;
    border-width: 2pt;
}
.navbar li.nachoben{
    background-size: 110%;
    background-image: url('images/arrowup.png');
    flex: 0 0 32pt;
    display: block;
}
.navbar li.nachoben.active{
    display: none;

}
.charttext{
    margin: calc(2vw + 5px) calc(7.5vw + 10px);
    margin-bottom: 0;
    background-color: #292929;
    padding: 25px;
}
.chart{
    height: auto;
    background-color: #636363;
    margin: 2vw 7.5vw;
    margin-top: 0;
    display:  flex;
}
.chart .innertext{
    flex: 0 0 250pt;
    background-color: rgb(30,30,30);
    font: 25px;
    margin: 10px;
    margin-right: 5px;
    padding: 25px;
}
.chart .innerchart{
    flex: 2 0 300px;
    background-color: rgb(30,30,30);
    margin: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.chart .innerchart > div{
}
.chart .innerchart:only-child{
    flex-grow: 3;
}
.chart .innerchart:last-child{
    margin-right: 10px;
}
webview{
    margin: 2vw 7.5vw;
}
.text{
    margin: 0 7.5vw;
}
.text p{
    font-size: 25pt;
}
footer{
    margin-top: 20pt;
    background-color: #292929;
    height: 400px;
    display: flex;
    flex-direction: column;
    color: white;
}
footer .wrapper{
    display: flex;
    flex: 1 0 30px;
    margin: 0 7.5vw;
}
footer .wrapper div{
    flex: 1 0 10px;
    text-align: center;
    margin: auto;
}
footer p{
    margin: 3pt 7.5vw;
    flex: 0 0 24pt;
    text-align: center;
}
@media screen and (max-device-width: 800px) {
    header{
        margin: auto 1vw;
    }
    footer{
        margin: auto 1vw;

    }
}
